<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Система управления заказами</title>
</head>
<body>
    <div class="container">
        <h1>Система управления заказами</h1>

        <!-- Экран регистрации -->
        <div id="registration-section" style="display: none;">
            <h2>Регистрация</h2>
            <form id="registration-form">
                <input type="text" id="username" placeholder="Имя пользователя" required><br><br>
                <input type="password" id="password" placeholder="Пароль" required><br><br>
                <button type="submit">Зарегистрироваться</button>
                <p id="error-message" style="color: red; display: none;">Пожалуйста, заполните все поля!</p>
            </form>
        </div>

        <!-- Экран добавления заказов -->
        <div id="order-section" style="display: none;">
            <h2>Добавить заказ</h2>
            <form id="order-form">
                <input type="text" id="order-name" placeholder="Название заказа" required>
                <button type="submit"style="color: red">Добавить</button>
            </form>
            <div id="orders-section">
                <h3>Список заказов</h3>
                <ul id="order-list"></ul>
                <button id="clear-orders"style="color: red">Очистить список</button>
            </div>
        </div>
    </div>

    <script src="/static/main.js"></script>
</body>
</html>
